<section>
  <div class="logintitle">
    <span class="title">OTP Verification</span>
  </div>
  <div class="logindetails">
    <span class="details"> Please enter your number </span>
  </div>
  <form [formGroup]="otpForm" (ngSubmit)="save()">
    <div class="mainlogin">
      <div class="login">
        <span id="t"> Enter Number</span>
        <mat-form-field appearance="outline">
          <mat-label>Number </mat-label>
          <input
            [(ngModel)]="number"
            formControlName="number"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </div>
      <!-- <div class="time">
        <span id="time"> Haven’t gotten code yet? 30:00 sec</span>
      </div> -->
    </div>
    <div class="extra">
      <div class="log">
        <button
          mat-stroked-button
          class="cancel"
          type="submit"
          [disabled]="!otpForm.valid"
          routerLink="/otp-page"
        routerLinkActive="active"
        >
          Proceed
        </button>
      </div>
    </div>
  </form>
</section>
<!-- <router-outlet></router-outlet> -->
